.dog-page-container {
  .dog-full-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;

    border: lightsalmon 3px solid;

    .dog-images-container {
      display: flex;
    }

    .dog-image {
      height: 270px;
      width: 330px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .save-button {
    border: lightsalmon 2px solid;
    width: fit-content;
    margin: auto;
    font-size: 25px;

    &:hover {
      cursor: pointer;
      background-color: lightsalmon;
    }
  }
}
