.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffc5b0;

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-menu {
    display: flex;
    align-items: center;
  }
}
