.search-page {
  .search-page-header {
    font-size: 25px;
    font-weight: 700;
    line-height: 57.6px;
    margin: 24px 0 10px 0;
  }

  .found-breeds {
    margin-top: 40px;
  }

  .not-found-message {
    font-size: 20px;
    margin-top: 25px;
    color: #e7744e;
  }
}
