* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f9f8f6;
  main {
    width: 1200px;
    margin: auto;
  }

  .dark {
    background-color: #353535;
    color: white;
  }
}
